<div class="container-fluid">
  <section class="pt-5 mt-5 ml-5 mr-5 mb-5">
      <div class="container">
          <h1>Customers</h1>
      </div>        
    
      <div class="text-right example-container">
        <div class="container-fluid mt-10">
            <div class="text-right ">
                <mat-form-field class="col-md-3 float-right" appearance="outline">                    
                    <input matInput placeholder="Filter" (keyup)="Filterchange($event)"> 
                </mat-form-field>
            </div>
        </div>
      </div>
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
          <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <!-- <mat-checkbox (change)="$event ? toggleAllRows() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()">
            </mat-checkbox> -->
          </th>
          <td mat-cell *matCellDef="let customer" (click)="$event.stopPropagation();">
            <mat-checkbox (change)="onCustomerToggled(customer)"
                  [checked]="selection.isSelected(customer)">
            </mat-checkbox>
          </td>
        </ng-container>
         <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
      </ng-container>
        <ng-container matColumnDef="id">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>    
          
        <ng-container matColumnDef="firstname">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> firstName </th>
        <td mat-cell *matCellDef="let element"> {{element.customer.user.firstName}} </td>
        </ng-container>
        
        <ng-container matColumnDef="lastname">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> lastname </th>
        <td mat-cell *matCellDef="let element"> {{element.customer.user.lastName}} </td>
        </ng-container>
        
        <ng-container matColumnDef="username">
            <th mat-sort-header mat-header-cell *matHeaderCellDef> username </th>
            <td mat-cell *matCellDef="let element"> {{element.customer.user.userName}} </td>
        </ng-container>    
        
        <ng-container matColumnDef="email">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.customer.user.email}} </td>
        </ng-container>

        <ng-container matColumnDef="lastContactDate">
          <th mat-sort-header mat-header-cell *matHeaderCellDef> Last Contact Date </th>
          <td mat-cell *matCellDef="let element"> {{element.customer.lastContactDate | date:'d MMMM y'}}   </td>
        </ng-container>

        <ng-container matColumnDef="shortDescription">
          <th mat-sort-header mat-header-cell *matHeaderCellDef> Short description </th>
          <td mat-cell *matCellDef="let element">  {{element.customer.shortDescription}}  </td>
        </ng-container>        

        <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element"> <!-- <button (click)="FunctionEdit(element.code)" mat-raised-button color="primary" >Edit</button> |  -->
            <button mat-raised-button color="warn" (click)="FunctionDelete(element.id)">Delete</button>
        </td>
        </ng-container> 
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
    </table>

    <mat-paginator [pageSizeOptions]="[6,16,32]" showFirstLastButtons>        
    </mat-paginator>        
  </section>
  <section class="pt-5 mt-5 ml-5 mr-5 mb-5">
    <div class="col-md-3 text-left">
      <button class="btn btn-primary" (click)="openSendingPopup()">Send Message</button>
    </div>
  </section>     
 </div>