<!-- Navbar-->
<header class="header">
  <nav class="navbar navbar-expand-lg bg-white text-darkgray fixed-top border-bottom py-0">
    <a href="#" class="navbar-brand text-uppercase font-weight-bold text-darkgray  px-5 pb-5">Logo here</a>
      <div class="container">
          <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>
          
          <app-top-menu></app-top-menu>         
      </div>
      <div class="float-right ml-auto">
        <span class="p-5">
          <a *ngIf="fullName != null" href="javascript:void(0)" class="nav-link px-3 cursor-pointer" (click)="logout()">
            {{fullName}} Log out
          </a>
          <span class="d-inline" *ngIf="fullName == null">
          <div class="element">
            <a class="nav-link px-3 cursor-pointer" routerLink="login"><span role="button">Login </span></a>            
          </div>
          <div class="element p-2 pt-0"> | </div>
          <div class="element">
            <a class="nav-link px-3 cursor-pointer" routerLink="register" ><span role="button">Register</span></a> 
          </div>
        </span>
        </span>
    </div>
  </nav>
</header>


 