<div id="navbarSupportedContent" class="collapse navbar-collapse">
    <ul class="navbar-nav text-center" *ngIf="role == 'User'">
            <li class="nav-item active"><a routerLink="" class="nav-link text-uppercase font-weight-bold">Home <span class="sr-only">(current)</span></a></li>  
            <li class="nav-item"><a routerLink="/agents" class="nav-link text-uppercase font-weight-bold">Agents List</a></li>
            <li class="nav-item"><a routerLink="/offer-box" class="nav-link text-uppercase font-weight-bold">Offer box</a></li>
            <li class="nav-item"><a routerLink="/contact-inbox" class="nav-link text-uppercase font-weight-bold">Contact inbox</a></li> 
    </ul>
    <ul class="navbar-nav text-center" *ngIf="role == 'Admin'">
            <li class="nav-item active"><a routerLink="" class="nav-link text-uppercase font-weight-bold">Home <span class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a routerLink="/customers" class="nav-link text-uppercase font-weight-bold">Customers </a></li>
            <li class="nav-item"><a routerLink="/offer-box" class="nav-link text-uppercase font-weight-bold">Offer box</a></li>
            <li class="nav-item"><a routerLink="/contact-inbox" class="nav-link text-uppercase font-weight-bold">Contact inbox</a></li>
    </ul>
</div> 